body{
    font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
	color: #800000;
	background-image: url("images/seigaiha.png")
}


a {
	color: #ffa500;
}

h1 {
    font-size: 3.0em;
    text-align: center;
	color: #800000;
}


h2 {
    font-size: 3.0em;
    text-align: center;
	color: #800000;
}

h3 {
    font-size: 2.0em;
    text-align: center;
	color:#800000;
}

h4{
	 font-size: 1.8em;
	text-align: center;
	color:#800000;
}

h5{
	 font-size: 1.0em;
	text-align: center;
	color:#800000;
}

img {
	display: block;
	margin: auto;
	
}	

